/*FRONT PAGE */
#front-page-wrapper{
width:100%;
}

#front-page-inner-wrapper{
width:800px;
height: 600px;
margin:0 auto;
}

/*LAYOUT */
#header-wrapper {
background: rgba(255, 255, 255, 0.5);
}

#logo{
width: 800px;
margin: 0 auto;
}

#footer-wrapper {
background: rgba(255, 255, 255, 0.5);
}

#jeffkoons-footer-copyright{
	width:100%;
	margin-top: 20px;
}
#jeffkoons-footer-copyright-inner{
	width:400px;
	margin: 0 auto;
	color: #999;
	text-align: center;
}

#main-content-header {
margin: 0px 0px 20px 0px
}


/*FONTS */

h1,h2,h3,h4,h5,h6{
   color: #999;
}

.jeffkoons-studio-page-title,
#page-title{
font-family: Arial,Helvetica,sans-serif;
font-size: 12px;
font-style: normal;
line-height: normal;
font-weight: bold;
font-variant: normal;
color: #999999;
text-transform: uppercase;
}

.jeffkoons-studio-title, 
.jeffkoons-studio-artwork-title{
	font-size:1em;
}

/*MENUE LINKS */

/*TODO:VVVV  make more specific */

ul {
  margin:0;
}

.block-content ul, 
.block-content ol {
padding: 0 0 0 0px;
}

.item-list ul {
margin: 0 0 0 0;
padding: 0;
}

.item-list ul li {
margin: 0 0 0 0;
padding: 0;
}

/*TODO:^^^^ make more specific */


.jeffkoons-exhibitions-list a:link,
#block-menu-menu-bibliography .block-content a:link,
#block-menu-menu-biography-menu .block-content a:link,
#block-menu-menu-exhibitions-menu .block-content a:link,
.view-artwork-menu a:link,
.view-artwork-right-menu a:link{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
line-height: normal;
font-weight: bold;
font-variant: normal;
color: #999999;
margin: 0 0 7px 0;
display: block;
}

#admin-menu .dropdown a, #admin-menu .dropdown li > span,
#admin-menu a,
.dropdown a,{
 	text-transform: lowercase !important;
}

#block-menu-menu-biography-menu,
#block-menu-menu-bibliography,
#block-menu-menu-exhibitions-menu{
text-transform: uppercase;
}

#block-block-1{}
.view-artwork-menu{}

#primary-menu-bar{
margin: 0 0 40px 0;
}

#primary-menu-bar a{
   color: #999999;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   text-decoration: none;
   text-transform: uppercase;
}

#primary-menu-bar a:hover,
#primary-menu-bar a:active,
#primary-menu-bar .active-trail {
   color: #6699CC !important;
}

.view-artwork-menu{
margin: 0 0 0 0;
}

.nav li, .nav ul.menu li {
display: inline;
float: left;
list-style: none;
margin: 0;
padding: 0;
padding: 0 20px;
}


.view-artwork-menu .active,
.view-artwork-right-menu .active,
.view-artwork-right-menu a:hover,
.view-artwork-right-menu a:active,
.view-artwork-menu a:hover,
.view-artwork-menu a:active{
color: #6699CC;
}

ul.menu li a:link, 
ul.menu li a:active,
.region-sidebar-second a:active,
.region-sidebar-first a:active{
color: #6699CC;
}

#content a:link{
color: #999999;
}

a:visited{
color: #999999 !important;
}

.jeffkoons-active-link,
a.active,
a.active-trail,
a:active,
a:hover{
color: #6699CC !important;
}

.view-id-exhibition_images_attachment span.date-display-single{
color: #999999;
font-size: .6em;
margin:0 0 8px 0;
display: block;
}


/*NODES*/

jeffkoons-artwork-thumbnails{

width: 100%;
margin:10px 0;

}
.artwork-details-image img,
.jeffkoons-artwork-thumbnail{

float:left;
margin:0 5px 5px 0;
}


/*VIEWS*/
/*Exhibitions Slide Show */

.views-slideshow-controls-bottom {
width:604px;
clear:both;
margin: 10px 0;
}

.views-slideshow-pager-field-item {
float:left;
margin:0 4px 10px 0;
}

.views-content-field-light-box-image img{
cursor: pointer;
}

#views_slideshow_cycle_main_exhibition_images_attachment-page img{
height:380px;
}

/*Artwork views */

.jeffkoons-artwork-thumbnails span.image-field-caption{
diplay:none;
}

/*MEDIA*/

.sharethis-buttons{
   margin: 15px 0;
}


/*FONTS*/
.image-field-caption,
blockquote {
margin: 0px 0px 0px 0px !imporant;
}

@charset "UTF-8";
.headtype {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #6699CC;
}
.headtypegrey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #999999;
}

.sidetype {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #6699CC;

}

.sidetypelow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: normal;
	color: #6699CC;

}

.sidetypebig {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #6699CC;
}

.sidetypebig {
margin: 0 0 10px 0;
display: block;
}

.sidetypegrey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: uppercase;
	color: #999999;
}

.node-page p,
.node-exhibitions p,
.node-artwork p,
.maintype1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: normal;
	color: #999999;
}

#node-3 a:link,
#node-3 a:visited,
#node-48 a:visited,
#node-48 a:link {
        color:#6699CC !important;
}

h3.ui-accordion-header{
cursor: pointer;
}

h3.ui-accordion-header,
.jeffkoons-studio-title, 
.jeffkoons-studio-artwork-title, 
.jeffkoons-artwork-title,
.field-name-field-literature h2,
.field-name-field-exhibitions h2,
.maintypehead,
.jeffkoons-artwork-literature h2,
.view-artwork-exhibitions-list-h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: normal;
	color: #999999;
}

.jeffkoons-studio-title, 
.jeffkoons-studio-artwork-title, 
.jeffkoons-artwork-title,
.field-name-field-literature h2,
.field-name-field-exhibitions h2{
	margin: 1em 0;
}

.jeffkoons-exhibitions-title{
margin: 0;
color: #6699CC;
}

.sidetypelow2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: normal;
	color: #6699CC;

}

#jeffkoons-footer-copyright-inner p,
.maintype1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-style: normal;
line-height: normal;
font-weight: normal;
font-variant: normal;
text-transform: normal;
color: #999999;
}

.maintype2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: normal;
	text-decoration: none;
	color: #6699CC;
}

/*VIEWS */
#artwork-view{
padding: 0 20px 0 0;
}

#artwork-view-content{
float:left;
margin: 10px 0 0 0 ;
width: 100%;
}
#artwork-view-right-menu{

}

/*NODES*/
.node-page,
.node-artwork{
  margin: 10px 0 0 0 ;
  width: 100%;
  overflow: hidden;
}

/*ELEMENTS*/
/*SEARCH*/

input#edit-search-block-form--2{
	width:200px;
}

#block-search-form{
width:300px;
margin: 0 auto;
}

#edit-submit{}

.artwork-attachment {
  margin: 0 0 10px 0;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}


ul.primary-menu{
margin: 0 auto;
width: 666px;
}

/*SEARCH*/

.jeffkoons-search-result-contatiner{
width: 100%;
border-bottom: 1px solid #ddd;
margin: 0 0 20px 0;
padding: 5px 0;
}

.jeffkoons-search-result-image{
width: 62px;
margin: 0 20px 0 0;
float:left;
}

.jeffkoons-search-result-text{
        float: left;
        width: 80%;
}

.jeffkoons-search-result-text .title{
        font-weight: bold;
}

.search-snippet-info {
        padding-left: 0px ;
 }
 
.search-snippet-info,
.search-snippet p {
	color: #999999;
 	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: normal;
 }

 .search-results .title {
	font-size: .8em;
	margin: 0 0 10px 0;
}

.node-artwork a,
.node-artwork a:link,
.jeffkoons-artwork-accordion a,
.jeffkoons-artwork-accordion a:link{
        color: #6699CC !important;
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 11px;
        font-style: normal;
        line-height: normal;
        font-weight: normal;
        font-variant: normal;
}

.views-field-views-conditional,
.jeffkoons-artwork-literature span,
.jeffkoons-artwork-literature p,
.jeffkoons-artwork-accordion p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-style: normal;
        line-height: normal;
        font-weight: normal;
        font-variant: normal;
        color: #999999;
        }
		
.views-field views-field-views-conditional{
        margin: 0 0 8px 0;
}
